body {
  overflow-x: hidden; /* Hide scrollbars */
}
nav {
  background-color: #fce9c9 !important;
  color: #000 !important;
}
.nav-link {
  color: #000 !important;
  font-size: large;
}
button {
  background-color: #fce9c7 !important;
}
.pro-bg {
  background-color: #faf7f2 !important;
  color: grey;
  height: 65px;
  padding: 15px;
}
.card {
  border-radius: 10px !important;
  border-width: 2px !important;
  border-color: #0c2461 !important;
  padding-left: 45px !important;
  padding-right: 45px !important;
}

footer {
  position: fixed !important;
  padding-top: 0px;
  width: 100%;
  bottom: 0;
  background-color: #0c2461;
  color: #fff;
}
footer a {
  text-decoration: none;
  color: #fff;
}
